<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note-App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="container">
      <a href="/logout"><button>Logout</button></a>
      <h3>username: <%= user.username %></h3>
      <button onclick="window.location.href = '/create'">Tambah Catatan</button>
      <table border="1">
        <thead>
          <th>Title</th>
          <th>Content</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% notes.forEach(element => { %>
          <tr>
            <td><%= element.title %></td>
            <td><%= element.content %></td>
            <td>
              <a href="/update/<%= element._id %>"><button>Edit</button></a>
              <a
                onclick="return confirm('Yakin ingin menghapus <%= element.title %>')"
                href="/delete/<%= element._id %>"
                ><button>Hapus</button></a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
